.buttonnormal {

    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.aboutcarddiv {

    width: 100%;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .7s;
    gap: 20px;
    text-align: center;
}

.cardiconround {

    width: 80px;
    height: 80px;
    border-radius: 50%;
    transition: all .7s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lightmoderound {

    background-color: #0A0A0A;
    color: whitesmoke;
}

.darkmoderound {

    background-color: #FF2E2E;
    color: #0A0A0A;
}

.darkmodeaboutcard {

   box-shadow:rgba(255, 46, 46, 0.12) 0px 1px 3px 0px,rgba(255, 46, 46, 1) 0px 0px 0px 1px;
}

.lightmodeaboutcard {

   box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.skillcardparent {

    width: 100%;
    border-radius: 5px;
    padding: 20px;
    transition: all .7s;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.skill-gridcard {

    display: grid;
    grid-template-columns: repeat(2, minmax(220px,1fr));
    gap: 18px 18px;
    margin-inline: auto;
    justify-items: start;
    align-items: center;
    
}

.skill-itemcard {

    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    border-radius: 5px;
    transition: all .7s;
}

.skill-icon {

    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skilldetails {

    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media screen and (max-width: 1199px) {
    
    .skillchilddiv {

        flex-direction: column;
        align-items: center;
    }

    .skillcardparent {

        width: 600px;
    }
}

@media screen and (max-width: 991px) {
    
    .aboutcarddiv {
        
        width: 450px;
    }

    .skillcardparent {

        width: 450px;
    }

    .skill-gridcard {

        grid-template-columns: repeat(2, minmax(196px,1fr));
    }
}

@media screen and (max-width: 767px) {
    
    .buttonnormal {

        padding: 8px 16px;
        font-size: 14px;
    }

    .aboutcarddiv {

        width: 100%;
    }

    .cardiconround {

        width: 60px;
        height: 60px;
    }

    .skillcardparent {

        width: 100%;
    }

    .skill-gridcard {

        grid-template-columns: repeat(2, minmax(220px, 1fr));
    }
    
    .skill-icon {

        width: 45px;
        height: 45px;
    }
}

@media screen and (max-width: 575px) {

    .buttonnormal {

        padding: 6px 12px;
        font-size: 12px;
    }

    .cardiconround {

        width: 50px;
        height: 50px;
    }

    .aboutcarddiv {

        gap: 15px;
        padding: 15px;
    }

     .skill-icon {

        width: 35px;
        height: 35px;
    }

    .skill-gridcard, .skillcardparent, .skill-itemcard {

        gap: 15px;
    }
    
    .skillcardparent {

        padding: 15px;
    }
    
    .skill-gridcard{
        grid-template-columns: 1fr;
    }

}
