.footermaincontainer {

    display: flex;
}


.footerdiv {

    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
    user-select: none;
}

.footerdivdetails {

    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
}

.footertext {

    font-size: 14px !important;
}

.footerlinktext {

  font-size: 13px !important;
  font-weight: 400;
  text-decoration: none;
  display: inline-block;   
  width: max-content;      
  padding: 0;             
}

.footerlinktextdark{

    position: relative;
}
.footerlinktextdark:hover {

   opacity: .6;
}

.footerlinktextlight:hover {

   color: #0A0A0A;
   opacity: .6;
}

.footercontact {

    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.footerdivlinks {

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.socialdiv {

    display: flex;
    gap: 20px;
    align-items: center;
}

.sociallinkfooter {

    font-size: 19px;
    transition: all .7s;
}

.sociallinkfooterlight {

    color: #0A0A0A;
    transition: all .7s;
}

.sociallinkfooterlight:hover {

    opacity: .6;
}

.sociallinkfooterdark:hover {

    opacity: .6;
}

.sociallinkfooterdark {

    color: #FF2E2E;
    transition: all .7s;

}

.footerhrdiv {

    display: flex;
    padding: 0px;
    flex-direction: column;
    gap: 20px;
    padding: 0px 20px 20px 20px;
    user-select: none;
}

.darkmodehr {

    background-color: #FF2E2E;
    transition: all .7s;
}

.lightmodehr {

    background-color: #0A0A0A;
    transition: all .7s;
}

.footerhr {

    height: 1px;

}

@media screen and (max-width: 1399px) {
    
    .footerdiv {

        gap: 40px;
    }
}

@media screen and (max-width: 1199px) {
    
    .footerdiv {

        flex-wrap: wrap;
    }

    .footerdivdetails {

        width: 72%;
    }

    .footerdivlinks {

        width: 22%;
    }
}

@media screen and (max-width: 991px) {
    
    

    .footerdivdetails {

        width: 48%;
    }

    .footerdivlinks {
    
        width: 35%;
    }
}

@media screen and (max-width: 767px) {
    
    .footertext {

        font-size: 12px !important;
    }

    .footerlinktextdark {

        font-size: 11px !important;
    }

    .sociallinkfooter {

        font-size: 16px ;
    }
}


@media screen and (max-width: 575px) {
    
    .footerdiv {

        gap: 15px;
    }

    .footerdivdetails {

        width: 100%;
        gap: 15px;
    }

    .footerdivlinks {
    
        width: 100%;
        gap: 15px;
    }
    
    .footertext {

        font-size: 10px !important;
    }

    .footerlinktextdark, .footerlinktextlight {

        font-size: 9px !important;
    }

    .socialdiv {

        gap: 10px;
    }

    .sociallinkfooter {

        font-size: 13px ;
    }

    .footerhrdiv {

        gap: 15px;
        padding: 0px 15px 15px 15px;
    }

    .footercontact {

        gap: 6px;
    }

}