.skillparentdiv {

    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    user-select: none;
}

.skillchilddiv {

    display: flex;
    width: 100%;
    gap: 20px;

}

@media screen and (max-width: 1199px) {
    
    .skillcardparent {
    
        width: 100%;
    }

}

@media screen and (max-width: 575px) {
    
    .skillparentdiv, .skillchilddiv {

        gap: 15px;
    }
}