.contactdiv {

    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all .7s;
}

.contactmaindiv {

    display: flex;
    flex-direction: row;
    gap: 20px;
    border-radius: 5px;
    
}

.contactusformdiv {

    width: 70%;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.whatsappdiv {

    width: 30%;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.whatsappOpendark {

    background-image: url('../../../public/assets/images/projects/whatsappdark.jpg');
}

.whatsappOpenlight {

    background-image: url('../../../public/assets/images/projects/whatsapplight.jpg');
}


.whatappOpenCommon {

    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    transition: all .7s;
    overflow: hidden;
    flex-direction: column;
    gap: 20px;
}

.whatsappheader {

    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    gap: 20px;
}

.whatsappdp {

    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}

.whatsappdp img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.whatsappdetails {

    display: flex;
    flex-direction: column;
    gap: 8px;
}

.whatsappdetails:last-child {

    font-size: 12px;
}

.whatsappheaderlight {

    background-color: #00826a;
}

.whatsappcontent {

    width: 100%;
    background-color: transparent;
    padding: 0px 20px 0px 20px;
}

.whatsappptextcontent {

    padding: 14px;
    border-radius: 18px 18px 18px 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.whatsappbuttondiv {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 20px;
    overflow: hidden;
    padding: 0px 20px;
}

.whatsappbutton {

    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all .7s;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.whatsappbuttonlight {

    background-color: #25d467;
    color: white;
}

.whatsappbuttonlight:hover {

    box-shadow: inset 0px 70px 0px 0px rgba(0, 130, 106, 1);
}

.inputparentdiv {

    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: space-between;
}

.inputchilddiv {

    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.contactemaildiv {

    display: flex;
    width: 100%;
    justify-content: space-between;
}

.subjectdiv {

    width: 100%;
}

.descriptiondiv {

    width: 100%;
}

.contactformdetails {

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.inputfield {

    border: none;
    outline: none;
    border-radius: 5px;
    height: 40px;
    padding: 15px 20px;
    width: 100%;
}

.darkmodeinput {

    box-shadow: rgba(255, 46, 46, 0.12) 0px 1px 3px 0px,rgba(255, 46, 46, 1) 0px 0px 0px 1px;
    background-color: transparent !important;
    color : #FF2E2E !important;
}

.darkmodeinput::placeholder {

    color: #ff0000;
}

.lightmodeinput {

    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: transparent !important;
    color : #0A0A0A !important;
}

.descriptionfield {

    height: 100px;
    resize: none;
}

.inputfield::placeholder {

    font-size: 13px;
}

.buttoncontact {

    border: none;
}


.react-tel-input .form-control {

    width: 100% !important;
    height: 40px !important;
    border: none !important;
}

.react-tel-input .flag-dropdown {

    border: none !important;
    outline: none !important;
}

.darkmodedropdown {

    background-color: #FF2E2E !important;
}

.react-tel-input .flag-dropdown.open .darkmodedropdown .selected-flag {

    background-color: #FF2E2E !important;
}


.lightmodedropdown {

    background-color: transparent !important;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.react-tel-input .selected-flag:hover, .react-tel-input .selected-flag:focus {

    background-color: transparent !important;
}

.darkmodeflagdropdown{

    background-color: #0A0A0A !important;
    color: #FF2E2E !important;
    transition: all .7s;
}

.flag-dropdown.open.darkmodedropdown .selected-flag.open {

    background-color: #0A0A0A !important;
    color: #FF2E2E !important;
    box-shadow: rgba(255, 46, 46, 0.12) 0px 1px 3px 0px,rgba(255, 46, 46, 1) 0px 0px 0px 1px;
}

.flag-dropdown.open.lightmodedropdown .selected-flag.open {

    background-color: transparent !important;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}


.react-tel-input .darkmodeflagdropdown .country.highlight,
.react-tel-input .darkmodeflagdropdown .country:hover{

    background-color: #ff0000 !important;
    color:  #000 !important;
}

.react-tel-input .lightmodeflagdropdown .country.highlight,
.react-tel-input .lightmodeflagdropdown .country:hover{

    background-color: #0A0A0A !important;
    color:  white !important;
}


@media screen and (max-width: 767px) {
    
    .whatsappdetails:last-child {

        font-size: 10px;
    }

    .inputfield::placeholder {

        font-size: 10px;
    }
}


@media screen and (max-width: 575px) {
    
    .whatsappdetails:last-child {

        font-size: 8px;
    }    

    .inputfield::placeholder {

        font-size: 8px;
    }
}