.contactdiv {

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contactmaindiv {

    display: flex;
    flex-direction: row;
    gap: 20px;
    border-radius: 5px;
    
}

.contactusformdiv {

    width: 70%;
    border-radius: 5px;
    padding: 20px;
}

.whatsappdiv {

    width: 30%;
    border-radius: 5px;
    overflow: hidden;
    height: 500px;
    position: relative;
}