.aboutdivtitle {

    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    user-select: none;
}

.aboutcarddivparent {

    width: 100%;
    display: flex;
    gap: 20px;
}

@media screen and (max-width: 991px) {
    
    .aboutcarddivparent {
        
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 575px) {
    
    .aboutdivtitle, .aboutcarddivparent {

        gap: 15px;
    }
}