.header {

  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.headerdirstdiv {

  display: none;
}

.headermaincontainer {

   box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.header a {

  text-decoration: none;
  cursor: pointer;
}
.imglogomain {

  width: 168px;
  height: 80px;
}

.imglogomain img {

  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navlinks {

  display: flex;
  gap: 20px;
  width: 580px;
  justify-content: space-between;
}

.navlinks a {

  font-size: 20px;
  position: relative;
  transition: all .7s;
}


.darkmodetextatag {

  color : #FF2E2E;
}

.lightmodetextatag {

  color : #0A0A0A;
  opacity: 1;
}

.lightmodetextatag::after {

  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #0A0A0A;
  left: 0px;
  bottom: -3px;
  opacity: .7;
} 


.darkmodetextatag::after {

  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #CC2A2A;
  left: 0px;
  bottom: -3px;
} 

.darkmodetextatag:hover {

  color: #CC2A2A;
}

.lightmodetextatag:hover {

  color: #0A0A0A;
  opacity: 0.7;
}

.lightmodetextatag:hover::after {

  width: 100%;
  transition: width 0.7s ease-in-out;
}

.darkmodetextatag:hover::after {

  width: 100%;
  transition: width 0.7s ease-in-out;
}

.togglebutton {

  width: 70px;
  height: 30px;
  border-radius: 20px;
  border: 1px solid #FF2E2E;
  border-color: #FF2E2E;
  position: relative;
  cursor: pointer;
  transition: all .7s ease-in-out;

}

.toggleround {

  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #FF2E2E;
  position: absolute;
  top: 4px;
  right: 4px;
  transition: all .7s ease-in-out;
}

.togglebuttondark {

  border: 1px solid #FF2E2E;
  border-color: #FF2E2E;
}

.togglebuttonlight {

  border: 1px solid #0A0A0A;
  border-color: #0A0A0A;
  
}

.togglerounddark {

  background-color: #FF2E2E;
  transition: all .7s ease-in-out;
  animation: fadeinright 1s ease-in-out;
}

.toggleroundlight {

  background: radial-gradient(circle, #ffd700 30%, #ffa500 70%);
  left: 4px;
  animation: fadeinleft 1s ease-in-out;
}

.star {

  background-color: yellow;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  position: absolute;
  opacity: 0;
  transition: 1s;
}

.star3 {

  width: 8px;
  height: 8px;
  top: 16px;
  left: 18px;
  animation: twinkle 2s infinite;
  animation-delay: 1s;
}

.star2 {

  width: 9px;
  height: 9px;
  top: 4px;
  left: 24px;
  animation: twinkle 2s infinite;
  animation-delay: .8s;
}

.star1 {

  width: 10px;
  height: 10px;
  bottom: 3px;
  right: 26px;
  animation: twinkle 2s infinite;
  animation-delay: .6s;
}

.star4 {

  width: 7px;
  height: 7px;
  top: 6px;
  left: 10px;
  animation: twinkle 2s infinite;
  animation-delay: 1.2s;

}

.star5 {

  width: 6px;
  height: 6px;
  bottom: 5px;
  left: 7px;
  animation: twinkle 2s infinite;
  animation-delay: 1.4s;

}

.sidebaroverlay,.sidebardiv {

  display: none;
}

.cloud {

  border-radius: 50px;
  position: absolute;
  transition: all .7s ease-in-out;
  background-color: #64aae5;
}

.cloud::before,
.cloud::after {

  content: "";
  position: absolute;
  background-color: #64aae5;
  border-radius: 50%;
}

.cloud1 {

  width: 18px;
  height: 8px;
  top: 8px;
  left: 34px;
}

.cloud1::before {
  width: 10px;
  height: 10px;
  top: -5px;
  left: 1px;
}

.cloud1::after {
  width: 8px;
  height: 8px;
  top: -6px;
  right: 0px;
}

.cloud2 {

  width: 12px;
  height: 6px;
  top: 20px;
  left: 46px;
}

.cloud2::before {
  width: 4px;
  height: 4px;
  top: -2px;
  left: 1px;
}

.cloud2::after {
  width: 8px;
  height: 8px;
  top: -4px;
  right: 0px;
}



@media screen and (max-width: 1399px) {

  .navlinks a {

    font-size: 18px;
  }
  
  
}


@media screen and (max-width: 1199px) {

  .navlinks {

      width: 480px;
  }

  .navlinks a {

    font-size: 16px;
  }
  
  .imglogomain {

    width: 127px;
    height: 60px;
  }
}

@media screen and (max-width: 991px) {
  
  .navlinks {

   display: none;   
  }

  .header {

    height: 80px;
  }

  .imglogomain {

    display: none;
  }

  .headerdirstdiv {

    display: block;
  }

  .imglogosecond {
    display: block;
    width: 120px;
    height: 60px;
  }

  .imglogosecond img {

    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .headerdirstdiv {

    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  .fa-align-left {

    font-size: 30px;
    cursor: pointer;
    font-size: 30px;
    transition: all .7s ease-in-out;
  }

  .sidebaroverlay,.sidebardiv {

    display: block;
  }

  .sidebaroverlay {

    position: fixed;
    top: 80px;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    z-index: 99;;
  }

  .sidebardiv {

    position: fixed;
    width: 80px;
    height: 100%;
    top: 84px;
    left: 0px;
    padding: 20px 10px;
    transition: all .7s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 99;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    /* width: 300px; */
  }

  .sidebardiv:hover {

    width: 300px;
    padding: 20px 10px;
  }

  .sidebartext {

    display: none;
    opacity: 1;
    transition: all .7s ease-in-out;
    font-size: 16px;
  }

  .sidebaricon {

    font-size: 24px;
    z-index: 99;
  }

  .sidebaratag {

    text-decoration: none;
    z-index: 9;
    padding: 15px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    gap: 20px;
    overflow: hidden;
    transition: all .7s ease-in-out;
  }

  .sidebaratagdark {

    color: #FF2E2E;
  }

  .sidebarataglight {

    color: #0A0A0A;
  }

  .sidebardiv:hover .sidebartext{

    display: block;
  }

  .sidebarataglight:hover {

    background-color: #0A0A0A;
    color: whitesmoke;
  }

  .sidebaratagdark:hover {

    background-color: #FF2E2E;
    color: #0A0A0A;
  }

  .sidebaractivedark {

    background-color: #FF2E2E ;
    color: #0A0A0A;
  }

  .sidebaractivelight {

    background-color: #0A0A0A;
    color: whitesmoke;
  }

  .left-color-dark {

    color: #FF2E2E;
  }

  .left-color-dark-hover {

    color: #CC2A2A;
  }

  .left-color-light {

    color: #0A0A0A;
    opacity: 1;
  }

  .left-color-light-hover {

    color: #0A0A0A;
    opacity: .7;
  }

}


@media screen and (max-width: 767px) {

  .fa-align-left {

    font-size: 26px;
  }

  .imglogosecond {

    width: 105px;
    height: 55px;
  }

  .imglogosecond img {

    object-fit: contain;
  }
  
}

@media screen and (max-width: 575px) {

  .fa-align-left {

    font-size: 20px;
  }

  .imglogosecond {

    width: 90px;
    height: 45px;
  }

  .togglebutton {

    width: 52px;
    height: 22px;
  }

  .toggleround {

    width: 16px;
    height: 16px;
    top: 2px;
    right: 2px;
  }

  .star1 {
    
    right: 19px;
    width: 8px;
    height: 8px;
  }

  .star2 {

    width: 7px;
    height: 7px;  
    left: 16px;
  }

  .star3 {

    width: 6px;
    height: 6px;  
    left: 12px;  
    top: 12px;
  }
  
  .star4 {

    width: 5px;
    height: 5px;  
    left: 6px;  
     
  
  }

  .star5 {

    display: none;
  }

  .sidebardiv:hover {

    width: 230px;
  }

  .sidebartext {

    font-size: 12px;
  }

  .sidebaricon {

    font-size: 20px;
  }

  .sidebardiv {

    padding: 10px;
  }

  .sidebardiv:hover {

    padding: 10px;
  }

  .toggleroundlight {

    left: 2px;
  }

  .togglerounddark {

    animation: fadeinrightresp 1s ease-in-out;
  }

  .toggleroundlight {

    animation: fadeinleftresp 1s ease-in-out;
  }

  .cloud1 {

    left: 20px;
    width: 13px;
    height: 7px;
  }

  .cloud1::before {

    width: 6px;
    height: 6px;
  }

  .cloud1::after {

    right: 0px;
  }

  .cloud2 {

    left: 34px;
    top: 13px;
    width: 10px;
    height: 5px;
  }

  .cloud2::before {

    width: 3px;
    height: 3px;
  }

  .cloud2::after {

    width: 6px;
    height: 6px;
  }

  .sidebaratag {

    padding: 18px;
  }

  .headerdirstdiv {

    gap: 15px;
  }
}












/* ANIMATIONS */


@keyframes twinkle {

  0%,
  100%
  {

    opacity: 1;
  }

  50% {

    opacity: 0.5;
  }
}

@keyframes fadeinleft {

  0% {

    transform: translateX(-3px);
  }

  100% {

    transform: translateX(0px);
  }
}

@keyframes fadeinright {

   0% {

    transform: translateX(3px);
  }

  100% {

    transform: translateX(0px);
  }
}

@keyframes fadeinleftresp {

  0% {

    transform: translateX(-2px);
  }

  100% {

    transform: translateX(0px);
  }
}

@keyframes fadeinrightresp {

   0% {

    transform: translateX(2px);
  }

  100% {

    transform: translateX(0px);
  }
}