.experiencediv {

    display: flex;
    flex-direction: column;
    gap: 20px;
    user-select: none;
}

.experienceparent {

    height: 1170px;
    display: flex;
    justify-content: center;
    position: relative;
}

.vertical_line {

    position: absolute;
    width: 2px;
    height: 100%;
    top: 0px;
    transition: all .7s;
}

.timeline_star {

    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transition: all .7s;
}

.timeline_star2 {

    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: 270px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transition: all .7s;
}

.timeline_star3 {

    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: 620px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transition: all .7s;
}

.timeline_star4 {

    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    bottom: 200px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transition: all .7s;
}

.firstexperiencediv {

    width: 580px;
    border-radius: 5px;
    position: absolute;
    right: 0px;
    top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    z-index: 1;
    transition: all .7s;
    animation: fadeInRight .7s ease-in-out;
}

.secondexperiencediv {

    width: 580px;
    border-radius: 5px;
    position: absolute;
    left: 0px;
    top: 260px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    z-index: 1;
    transition: all .7s;
    animation: fadeInLeft .7s ease-in-out;
}

.thirdexperiencediv {

    width: 580px;
    border-radius: 5px;
    position: absolute;
    right: 0px;
    top: 610px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    z-index: 1;
    transition: all .7s;
    animation: fadeInRight .7s ease-in-out;
}

.fourthexperiencediv {

    width: 580px;
    border-radius: 5px;
    position: absolute;
    left: 0px;
    bottom: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    z-index: 1;
    transition: all .7s;
    animation: fadeInLeft .7s ease-in-out;
}

.experienceskilldiv {

    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.yearofexp {

    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.experiencedotone , .experiencedottwo {

    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.experiencedotone {

    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.experiencedottwo {

    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.firstexperiencediv h1, .secondexperiencediv h1, .thirdexperiencediv h1, .fourthexperiencediv h1 {

    text-align: center;
}


@media screen and (max-width: 1399px) {
    
    .firstexperiencediv , .secondexperiencediv , .thirdexperiencediv , .fourthexperiencediv {

        width: 470px;
    }

    .secondexperiencediv {

        top: 290px;
    }
    
    .timeline_star2 {

            top: 310px;
    }

    .thirdexperiencediv {

        top: 660px;
    }

    .timeline_star3 {

        top: 690px;
    }

    .fourthexperiencediv {

        bottom: 20px;
    }

    .timeline_star4 {

        bottom: 210px;
    }

    .experienceparent {

        height: 1350px;
    }
}

@media screen and (max-width: 1199px) {
    
    .firstexperiencediv , .secondexperiencediv , .thirdexperiencediv , .fourthexperiencediv {
    
        width: 370px;
    }

    .experienceparent {

        height: 1560px;
    }

    .firstexperiencediv {

        top: 30px;
    }

    .timeline_star {

        top: 50px;
    }

    .secondexperiencediv {

        top: 360px;
    }

    .timeline_star2 {

        top: 390px;
    }

    .timeline_star3 {

        top: 840px;
    }

    .thirdexperiencediv {

        top: 810px;
    }

    .fourthexperiencediv {
    
        bottom: 30px;
    }

    .timeline_star4 {

        bottom: 250px;
    }
    
}

@media screen and (max-width: 991px) {
    
    .vertical_line, .timeline_star, .timeline_star2, .timeline_star3, .timeline_star4,.experiencedotone,.experiencedottwo {
    
            display: none;
    }

    .firstexperiencediv , .secondexperiencediv , .thirdexperiencediv , .fourthexperiencediv {

        width: 100%;
        position: static;
    }

    .experienceparent {

        height: 100%;
        position: static;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

@media screen and (max-width: 575px){

    .experiencediv,.experienceparent,.firstexperiencediv,.secondexperiencediv,.thirdexperiencediv,.fourthexperiencediv,.experienceskilldiv  {

        gap: 15px;
    }

    .firstexperiencediv,.secondexperiencediv,.thirdexperiencediv,.fourthexperiencediv {

        padding: 15px;
    }

    .yearofexp {

        gap: 10px;
    }
}